* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 100px;
  width: 100%;
  height: 100%;
}

body,
#app {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body font {
  z-index: 10000;
  position: relative;
}

/* 设置内容区高度 */

.el-container {
  height: 960px;
}

/* input自定义样式 */

.el-form-item {
  margin-bottom: 40px !important;
}

input::-webkit-input-placeholder {
  color: #cccccc;
}

input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #cccccc;
}

input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #cccccc;
}

input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #cccccc;
}

input {
  background-color: #f2f2f2 !important;
  border: none !important;
  border-radius: 5px !important;
  outline: none !important;
  color: #333 !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}

.el-cascader input[readonly='readonly'] {
  background-color: #f2f2f2 !important;
  color: #333 !important;
}

.el-input__suffix {
  right: 10px !important;
}

input[readonly='readonly'] {
  background-color: #f7f7f7 !important;
  color: #999 !important;
}

.el-select input[readonly='readonly'] {
  background-color: #f2f2f2 !important;
  color: #333 !important;
}

.el-select .el-select__tags .el-tag {
  color: #3ebb75;
  background-color: #fff;
  border: none;
}

.el-cascader .el-cascader__tags .el-tag {
  color: #3ebb75;
  background-color: #fff;
  border: none;
}

.el-textarea textarea {
  padding: 10px 15px;
  font-family: 'Source Han Sans CN';
}

/* element-ui 按钮组自定义样式 */

.sys-btn.el-button--mini,
.sys-btn.el-button--small,
.sys-btn.el-button--medium,
.sys-btn.el-button--small {
  border: none !important;
}

.el-button,
.el-button.el-button--medium {
  width: 160px;
}

.el-button.el-button--small {
  width: 100px;
}

.el-button.el-button--mini {
  width: 60px;
}

.el-button.el-button--primary {
  background-color: #3ebb75;
  color: #fff;
  border: none;
  box-shadow: 0 5px 5px rgba(62, 187, 117, 0.3);
}

.el-button.el-button--warning {
  background-color: #ffcb3c;
  color: #fff;
  border: none;
  box-shadow: 0 5px 5px rgba(255, 194, 26, 0.3);
}

.el-button.el-button--success {
  background-color: #24b5ff;
  color: #fff;
  border: none;
}

.el-button.el-button--info {
  background-color: #e6e6e6;
  color: #fff;
  border: none;
  box-shadow: 0 5px 5px rgba(204, 204, 204, 0.3);
}

.el-button.el-button--primary:hover,
.el-button.el-button--primary:focus {
  background-color: #3ebb75;
  opacity: 0.6;
}

.el-button.el-button--warning:hover,
.el-button.el-button--warning:focus {
  background-color: #ffcb3c;
  opacity: 0.6;
}

.el-button.el-button--success:hover,
.el-button.el-button--success:focus {
  background-color: #24b5ff;
  opacity: 0.6;
  border-color: #24b5ff;
}

.el-button.el-button--info:hover,
.el-button.el-button--info:focus {
  background-color: #e6e6e6;
  opacity: 0.6;
}

.el-button.el-button--primary.is-plain {
  background-color: #e1f8df;
  border: none;
  color: #3ebb75;
  box-shadow: none;
}

.el-button.el-button--warning.is-plain {
  background-color: #fff5dc;
  border: none;
  color: #ffcb3c;
  box-shadow: none;
}

.el-button.el-button--success.is-plain {
  background-color: #d3f0ff;
  border: none;
  color: #24b5ff;
  box-shadow: none;
}

.el-button.el-button--danger.is-plain {
  background-color: #fef0f0;
  border: none;
  color: #f56c6c;
  box-shadow: none;
}

.el-button--primary.is-plain:focus,
.el-button--primary.is-plain:hover {
  background: #e1f8df !important;
  color: #3ebb75 !important;
  opacity: 0.6;
}

.el-button--warning.is-plain:focus,
.el-button--warning.is-plain:hover {
  background: #fff5dc !important;
  color: #ffcb3c !important;
  opacity: 0.6;
}

.el-button--success.is-plain:focus,
.el-button--success.is-plain:hover {
  background: #d3f0ff !important;
  color: #24b5ff !important;
  opacity: 0.6;
  border-color: #24b5ff !important;
}

.el-button--danger.is-plain:focus,
.el-button--danger.is-plain:hover {
  background: #fef0f0 !important;
  color: #f56c6c !important;
  opacity: 0.6;
}

.el-button.el-button--primary.empty {
  background-color: #fff;
  border: 1px solid #3ebb75;
  color: #3ebb75;
  box-shadow: none;
}

.el-button.el-button--warning.empty {
  background-color: #fff;
  border: 1px solid #ffcb3c;
  color: #ffcb3c;
  box-shadow: none;
}

.el-button.el-button--success.empty {
  background-color: #fff;
  border: 1px solid #24b5ff;
  color: #24b5ff;
  box-shadow: none;
}

.el-button--primary.empty.is-disabled:hover {
  color: #3ebb75 !important;
  background-color: #fff !important;
}

.el-button--warning.empty.is-disabled:hover {
  color: #ffcb3c !important;
  background-color: #fff !important;
}

.el-button + .el-button {
  margin-left: 50px !important;
}

.el-button .iconfont + span {
  margin-left: 5px;
}

/* 滚动条 */

.el-scrollbar .el-scrollbar__wrap {
  overflow-x: hidden;
}

.el-select-dropdown .el-scrollbar .el-scrollbar__wrap,
.el-cascader-panel .el-scrollbar .el-scrollbar__wrap {
  overflow-x: scroll;
}

/* element-ui 下拉菜单中包含checkbox设置选中宽度 */

.el-dropdown-menu .el-dropdown-menu__item .el-checkbox {
  width: 100%;
}

/* element-ui dialog自定义样式 */

.el-dialog {
  border-radius: 10px !important;
  min-width: 490px !important;
}

.el-dialog .el-dialog__headerbtn .el-dialog__close {
  font-size: 20px;
}

.el-dialog .el-dialog__header {
  height: 68px;
  line-height: 68px;
  padding: 0 30px;
  background-color: #e1f8df;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.el-dialog .el-dialog__header .el-dialog__title {
  color: #333333;
  font-weight: 600;
}

.el-dialog .el-dialog__header .el-dialog__headerbtn {
  top: 28px;
}

.el-dialog .el-dialog__body .el-form-item__content .el-select {
  width: 100%;
}

.el-dialog .el-dialog__body .btns {
  margin-top: 20px;
}

.el-dialog .el-dialog__body .btns .el-button {
  width: 200px;
  height: 45px;
  border-radius: 23px;
  border: none;
}

.el-dialog .el-dialog__body .btns .submit {
  text-align: right;
}

.el-dialog .el-dialog__body .btns .submit button {
  box-shadow: 0 5px 5px 1px rgba(62, 187, 117, 0.3);
}

.el-dialog .el-dialog__body .btns .cancel button {
  background-color: #cccccc;
  color: #ffffff;
  box-shadow: 0 5px 5px 1px rgba(204, 204, 204, 0.3);
}

.el-dialog .el-dialog__footer {
  text-align: center;
  padding: 15px 30px 30px;
}

.el-dialog .el-dialog__footer .el-button + .el-button {
  margin-left: 100px !important;
}

/* 图片预览样式 */
.el-image-viewer__wrapper .el-image-viewer__btn > .el-icon-close {
  color: #fff;
}

/* 公用顶部左侧布局 */

.common-left {
  display: inline-block;
}

/* 公用顶部左侧选择项目信息 */

.common-left .common-chose-info {
  display: inline-block;
  width: 220px;
  height: 40px;
  line-height: 40px;
  background-color: #e1f8df;
  border-radius: 5px;
  color: #3ebb75;
  font-size: 14px;
  cursor: pointer;
  padding: 0 10px;
  overflow: hidden;
  vertical-align: middle;
}

/* 公用顶部左侧选择项目信息-图标样式 */

.common-left .common-chose-info #workIcon,
.common-left .common-chose-info i {
  margin-right: 5px;
}

/* 公用顶部左侧选择项目信息-图标上下对齐 */

.common-left .common-chose-info #workIcon div {
  vertical-align: -2px;
}

/* 公用顶部左侧查询input输入框 */

.common-left .common-input {
  margin-left: 20px;
  padding: 0 10px;
  width: 220px;
  height: 40px;
  font-size: 14px;
  vertical-align: middle;
}

.common-left .el-select {
  margin-right: 20px;
  vertical-align: middle;
}

/* 公用顶部左侧查询按钮样式 */

.common-left .common-button {
  margin-left: 20px;
  width: 80px;
  height: 40px;
  font-size: 14px;
  border-radius: 5px;
  padding: 0;
  filter: drop-shadow(0 5px 5px rgba(62, 187, 117, 0.4));
  -webkit-filter: drop-shadow(0 5px 5px rgba(62, 187, 117, 0.4));
  vertical-align: middle;
}

/* 公用顶部右侧布局 */

.common-right {
  float: right;
}

/* 公用顶部右侧布局按钮 */

.common-right .common-button {
  width: 120px;
  height: 40px;
  line-height: 22px;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  margin-right: 20px;
  padding: 0;
}

/* 公用顶部右侧布局按钮-鼠标悬浮效果 */

.common-right .common-button:hover {
  background-color: #3ebb75;
  color: #ffffff;
}

/* 公用顶部右侧功能图标-图标样式 */

.common-right .common-right-icon {
  margin-right: 30px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

/* 公用顶部右侧功能图标-图标上下对齐 */

.common-right .common-right-icon div {
  vertical-align: -13px !important;
}

/* 表格样式 */

.el-table .el-table__body-wrapper .el-table__body .el-table__row:hover > td {
  background-color: #e9ebe8 !important;
}

.el-table--striped .el-table__body tr.hover-row.el-table__row--striped > td,
.el-table__body tr.hover-row > td {
  background-color: #e9ebe8 !important;
}

.el-table .el-checkbox__inner {
  width: 18px;
  height: 18px;
}

.el-table .el-checkbox__inner::after {
  top: 3px;
  left: 6px;
}

.el-table .el-checkbox__inner::before {
  top: 7px !important;
}

.el-table--striped .el-table__body tr.el-table__row--striped td {
  background-color: #f7f7f7 !important;
}

.el-table--enable-row-hover .el-table__body tr:hover > td {
  background-color: #f5f7fa !important;
}

.vxe-table--render-default
  .is--checked.vxe-cell--checkbox
  .vxe-checkbox--icon:before,
.vxe-table--render-default
  .is--indeterminate.vxe-cell--checkbox
  .vxe-checkbox--icon:before {
  border-color: #3ebb75;
  background-color: #3ebb75;
}

.vxe-table--render-default
  .vxe-cell--checkbox:not(.is--disabled):hover
  .vxe-checkbox--icon:before {
  border-color: #3ebb75;
}

/* 文字提示样式 */

.el-tooltip__popper {
  max-width: 300px;
}

.el-autocomplete-suggestion .el-scrollbar .el-scrollbar__wrap {
  overflow: scroll;
}

.el-message p {
  line-height: 20px;
}

.el-message-box {
  padding-bottom: 20px !important;
}

.el-message-box .el-message-box__header {
  padding-top: 20px;
}

.el-message-box .el-message-box__content {
  padding: 15px;
}

.el-message-box .el-message-box__btns .el-button {
  border-radius: 16px;
}

.el-message-box .el-message-box__btns .el-button + .el-button {
  margin-left: 40px !important;
}

.el-message-box .el-message-box__btns .el-button.el-button--primary:hover,
.el-message-box .el-message-box__btns .el-button.el-button--primary:focus {
  opacity: 1 !important;
}

/* 表格数据打印样式部分 */

#tablePrint {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  background-color: #fff;
}

#tablePrint table {
  font-family: Arial, sans-serif;
  font-size: 14px;
  border-collapse: collapse;
  color: #333;
  table-layout: auto;
  width: 100%;
  text-align: center;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #dadcde;
}

#tablePrint table thead {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #dadcde;
  line-height: 40px;
  font-weight: bold;
  color: #333;
}

#tablePrint table th {
  height: 40px;
  line-height: 40px;
  border: 1px solid #dadcde;
  background-color: #fff;
}

#tablePrint table tr {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #dadcde;
  line-height: 23px;
}

#tablePrint table td {
  padding: 5px 10px;
  font-size: 14px;
  font-family: Verdana;
  width: 100px;
  background-color: #fff;
  border: 1px solid #dadcde;
}

#tablePrint .table-empty {
  min-height: 60px;
  text-align: center;
  width: 100%;
  font-size: 14px;
  color: #ccc;
  background-color: #fff;
  border: 1px solid #dadcde;
  border-top: none;
  line-height: 60px;
  box-sizing: border-box;
}
